{% extends 'base.html' %}
<head>
<title>{% block title %}Chase Weyer - About Me{% endblock%}</title>
</head>
  <body>
  {% block maincontent %}
  <h2> About</h2>
  <div id="container">
    <p>My name is <b>Chase Weyer</b>. I am a <b>29 year old video game, 
	anime, funny meme, and baseball enthusiast that just finished working towards my Second Bachelor's Degree in Information 
	Technology at the University of Massachusetts - Lowell</b> as of February 1st, 2017.</p> 
	<p>I'm sure your thinking <i>"Why a Second Bachelor's Degree?</i>". 
	Well, I enjoyed my original <b>Bachelor's Degree in History from Indiana University of Pennsylvania</b> and all of 
	the work I put towards it, but, over time, it became something that I wanted to pursue as hobby more than a career. 
	As my love of history was becoming more of a hobby, I delved more into my more tech natured hobbies, and I felt it 
	was something I wanted to expand on and possibly turn into a career. Being in cutomer service and holding a previous 
	Tier 1 position only strengthened my resolve. As such, I went back to school to pursue my 
	<b>Second Bachelor's Degree in Information Technology and have not looked back.</b></p>
	<p>Now that I have completed my degree,   
	I hope to expand on my programming skills and eventually become a <b>software engineer/web developer</b> further down the road. 
	Right now, however, I am looking for a full time position that will utilize both the customer service skills developed through my professional career, 
	which can be viewed on my <a href="resume.html">Resume</a> page, and the technical skills that I have developed through college and personal experimentation, 
	which can be viewed on my <a href="portfolio.html">Portfolio and Skills</a> page. If you would like to know more about what I am <a href="looking_for.html">Looking For</a>, 
	you can click the previous link, the sublink under the <b>Professional</b> tab, or the link at the bottom of the page.</p>
  </div>
  <br>
  <br>
  <br>
  <br>
  {% endblock %}
 </body>
</html>

