<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml">
<!-- #BeginTemplate "template.dwt" -->
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<link href="personalwebpage.css" rel = "stylesheet" type = "text/css">
<!-- #BeginEditable "doctitle" -->
<title>Chase Weyer - About</title>
<!-- #EndEditable -->
</head>
  <body>
  <div id="header">
   <h1>Chase Weyer</h1>
  </div>
  <div id="page">
    <div id="nav">
      <ul id="navlist">
	    <li><a href="index.html">Welcome</a></li>
	    <li><a href="about.html">About</a></li>
	    <li><a href="#">Professional</a>
	      <ul>
	        <li><a href="portfolio.html">Portfolio and Skills</a></li>
	        <li><a href="resume.html">Resume</a></li>
	        <li><a href="looking_for.html">Looking For...</a></li>
	      </ul>
	    </li>
	    <li><a href="#">Social</a>
	      <ul>
	        <li><a href ="https://www.linkedin.com/in/chase-weyer-4a5216a3">LinkedIn</a></li>
	        <li><a href="https://github.com/metalhero">GitHub</a></li>
	        <li><a href="mailto:chase.p.weyer@chasepweyer.com">E-Mail</a></li>
	      </ul>
	    </li>
      </ul>
    </div>
  </div>
  <p><br></p>
    <!-- #BeginEditable "maincontent" -->
  <h2> About</h2>
  <div id="container">
  	<div id="picture">
  		<img src="images/programming-meme.jpg" width="300px" height="250px">
  	</div>
    <p>As you might have inferred from my domain name, my name is <b>Chase Weyer</b>. I am a <b>29 year old video game, 
	anime, funny meme, and baseball enthusiast that just finished working towards my Second Bachelor's Degree in Information 
	Technology at the University of Massachusetts - Lowell</b> as of February 1st, 2017.</p> 
	<p>I'm sure your thinking <i>"Why a Second Bachelor's Degree?</i>". 
	Well, I enjoyed my original <b>Bachelor's Degree in History from Indiana University of Pennsylvania</b> and all of 
	the work I put towards it, but, over time, it became something that I wanted to pursue as hobby more than a career. 
	As my love of history was becoming more of a hobby, I delved more into my more tech natured hobbies, and I felt it 
	was something I wanted to expand on and possibly turn into a career. Being in cutomer service and holding a previous 
	Tier 1 position only strengthened my resolve. As such, I went back to school to pursue my 
	<b>Second Bachelor's Degree in Information Technology and have not looked back.</b></p>
	<p>Now that I have completed my degree,   
	I hope to expand on my programming skills and eventually become a <b>software engineer/web developer</b> further down the road. 
	Right now, however, I am looking for a full time position that will utilize both the customer service skills developed through my professional career, 
	which can be viewed on my <a href="resume.html">Resume</a> page, and the technical skills that I have developed through college and personal experimentation, 
	which can be viewed on my <a href="portfolio.html">Portfolio and Skills</a> page. If you would like to know more about what I am <a href="looking_for.html">Looking For</a>, 
	you can click the previous link, the sublink under the <b>Professional</b> tab, or the link at the bottom of the page.</p>
  </div>
    <!-- #EndEditable -->
    <footer>
    <div id="bottomnav">
    <p>
      <a href="index.html">Home</a> | 
      <a href="#">About</a> | 
      <a href="portfolio.html">Portfolio and Skills</a> | 
      <a href="resume.html">Resume</a> | 
      <a href="looking_for.html">Looking For...</a> | 
      <a href="https://www.linkedin.com/in/chase-weyer-4a5216a3">LinkedIn</a> | 
      <a href="https://github.com/metalhero">GitHub</a> | 
      <a href="mailto:chase.p.weyer@chasepweyer.com">E-Mail</a> 
    </p>
    </div>
  </footer>
 </body>
<!-- #EndTemplate -->
</html>

