{% extends 'base.html' %}

{% block title %}Chase Weyer - Welcome{% endblock %}
{% block header %}<h2>Welcome</h2>{% endblock %}
{% block maincontent %}
    <div id = "container">
      <div id="picture">
	{% load staticfiles %}					                              		
	<img src="{% static 'images/profilephoto.jpg' %}" width="200px" height="200px">
      </div>
      <h3><strong><i>Welcome to my Website!</strong></i></h3>
	<p>Thank you for visiting my personal, professional website!</p>
	<p>My name is <b>Chase Weyer</b> and I created this website
	 to not only showcase my resume, but to display the programming skills that I have developed
	 and let everyone know how I am progressing though the <b>Blog</b> that I have set up on this site.</p>
	 <p>As I cam currently looking to change careers from Customer Support to Engineering, I wanted to create a place where I could show off
	 what I have developed so far and what I am currently working on.</p>
	 <p>You can learn more <b>About</b> me, view my <b>Portfolio and Skills</b> and my <b>Resume</b>,
	 see what I am <b>Looking For...</b>, view my <b>Blog</b> posts to see what I've been working on,
	 or check out my <b>Social</b> websites to get a better feel for the type of person I am. You can also
	 <b>E-Mail</b> me by clicking on the link at the bottom of the page.</p>

    <p>Once again, thank you for visiting my website and I hope you enjoy navigating it and learning more about me!</p>
		</div>
{% endblock %}
