{% extends 'base.html' %}
<html>
	<head>
		<title>{% block title %}Chase Weyer - Welcome{% endblock%}</title>
	</head>			
<body>
{% block maincontent %}
<h2>Welcome</h2>
  <div id = "container">
    <div id="picture">
	{% load staticfiles %} 							                              		
	<img src="{% static 'blog/images/profilephoto.jpg' %}" width="200px" height="200px">
															                             	 </div>
																		                        <h3><strong>WELCOME TO MY WEBSITE!</strong></H3>
																					                        <p>Thank you for visiting my personal, professional website. Just to give an introduction,
																								                        my name is <strong>Chase Weyer</strong>, I'm <strong>30 years old</strong>, currently reside in
																											                        <b>Charleston, SC</b>, and I am looking
																														                        to become a professional <strong>Web Developer/Software Engineer</strong>. If you would like
																																	                        to learn more <strong>About</strong> me, feel free to check out my <strong>Professional</strong>
																																				                        accomplishments as well as my <strong>Social</strong> websites. You can also contact me by
																																							                        <strong>E-Mail</strong> if you would like to network or have a professional opportunity
																																										                        you believe I would be interested in. I will reply as promptly as possible!</p>
																								                        <p>Once again, thank you for visiting my website!
																											                  </p>
</div>

																																			          {% endblock %}
																																				   </body>
</html>

set tabstop=4
