{% extends 'base.html' %}
<html>
	<head>
		<title>{% block title %}Chase Weyer - Welcome{% endblock%}</title>
	</head>			
<body>
{% block maincontent %}
<h2>Welcome</h2>
  <div id = "container">
    <div id="picture">
	{% load staticfiles %}					                              		
	<img src="{% static 'blog/images/profilephoto.jpg' %}" width="200px" height="200px">														                             	 </div>
																		                        <h3><strong>WELCOME TO MY WEBSITE!</strong></H3>
																					                        <p>Thank you for visiting my personal, professional website. My name is <strong>Chase Weyer</strong>, I'm <strong>30 years old</strong>, I currently reside in <b>Charleston, SC</b>, and I am looking to become a professional <strong>Web Developer/Software Engineer</strong>. If you would like to learn more <strong>About</strong> me, feel free to check out my <strong>Portfolio and Skills</strong> as well as my <strong>Resume</strong>. You can also check out my social websites, such as <strong>GitHub</strong>, <strong>StackOverflow</strong>, and <strong>LinkedIn</strong>. If you would like to go over my professional skills a bit more with me directly, or would like to just pick my brain, feel free to send me an <strong>E-Mail</strong>. I will reply as promptly as possible!</p>

<p>Once again, thank you for visiting my website!
																											                  </p>
</div>

																																			          {% endblock %}
																																				   </body>
</html>

set tabstop=4
