{% extends 'base.html' %}
<head>
	<title>{% block title %}Chase Weyer - Looking For...{% endblock %}</title>
</head>
  <body>
  {% block maincontent %}
  <h2>Looking For...</h2>
  <div id = "container">
    <p>Though I do currently work for <b>Nordstrom Rack</b>, and would like to move up with the <b>Nordstrom</b> company, I will take a considerable look at 
    any positions that I think would help me improve my more technical skills while also allowing me to utilize the problem solving skills that I have acquired as a
     customer service agent. I am currently looking for a position that will help me combine my previous
    customer service experience with my current IT knoweldge. As such, I am looking for a <b>Tier 1, 2, or 3 position</b> or a <b>Technical Support/Help Desk</b>
    that I can eventually translate into a <b>Software Engineering</b> position. I would also love to have a <b>Jr. Software Engineering</b> position if available.</p>
    <p>Location is also not an issue as I plan to relocate in the near future.</p> 
    <p>If you have a position  you think I would be interested in, you can either send me an <a href="mailto:cpwfe87@gmail.com">E-mail</a> or reach out to me 
    on one of my <b>Social</b> sites. <b><i>I will reply as promptly as possible!</i></b>.
  </p>
</div>
 {% endblock %}
 </body>
</html>

