{% extends 'base.html' %}
<head>
	<title>{% block title %}Chase Weyer - Looking For...{% endblock %}</title>
</head>
  <body>
  {% block maincontent %}
  <h2>Looking For...</h2>
  <div id = "container">
    <p>I currently work for <b>Snagajob</b> and <b>Nordstrom</b> and I am looking to move forward with these companies into a position that will help me combine my previous customer service experience with my current IT knoweldge so that I can further advance my customer centric type of programming. Ideally, I would prefer a <b>Jr. Software Engineer</b> position, but I also wouldn't mind a <b>QA</b> position that would allow me to take a user centric approach to testing or a more blending customer support/IT position that would allow me to analyze customer issues while also allowing me to fix issues with bugs through coding.</p>

<p>While I would love to move within my current companies, I will take a considerable look into any of the positions I mentioed above and if I feel the company is a good fit for me. I am rather laid back and tend to work at my own pace while accomplishing my goals. I also love working in groups so I can bounce around ideas and come up with new ones easier. As such, I would need to be part of a company that will allow to be my laid back self while working individually on projects that sometimes require group input. I also prefer an environment that is socially active and wants their employees to not only engage with each other, but also make the work they do enjoyable</p>
    <p>Location is not an issue and I am more than willing to relocate if I need to.</p> 
    <p>If you have a position  you think I would be interested in, you can either send me an <a href="mailto:cpwfe87@gmail.com">E-mail</a> or reach out to me 
    on one of my <b>Social</b> websites. <b><i>I will reply as promptly as possible!</i></b>.
  </p>
</div>
 {% endblock %}
 </body>
</html>

