{% extends 'base.html' %}

{% block title %}Chase Weyer - Looking For...{% endblock %}
{% block header %}<h2>Looking For...</h2>{% endblock %}
{% block maincontent %}
    <div id = "container">
      <p>I am currently looking for an opportunity that will take full advantage of my unique customer focused approach to programming by allowing me to test features and systems, even if it means intentionally using it
    in the wrong so, so that I can not only fully understand how the platform works, but so that I can also make sure that the system is working as intended for the everyday user and ensure that it gets improved in a practical
    manner that fully benefits the everyday user. Not only that, but I am also looking for a position that will allow me to collaborate with other departments so that I can not only improve upon my quality of work, but also
    ensure that the platform can provide the best possible user experience by ensuring the best possible solutions are able to be brought to the forefront and implemented.
    <br>
    <br>
    With this unique take on engineering, I believe my skill set would work best in an engineering position
    focused on testing multiple areas of a web or console application. As such, I am looking for positions such as a <b>Quality Assurance Eningeer</b>, <b>Software Engineer in Test</b> or a
    <b>Production Support Engineer/Tier 3 Engineer</b> type of position that would allow me to test bugs and ensure the product is working correctly for the customer and figure out how a product can be enhanced through
    collaborating with other departments. I also wouldn't mind an <b>Advanced Customer Support</b> type of position where I can address bug related issues and intermediate technical issues, but it would also have to be a position where I can
    at least utilize some of my programming knowledge so that I can fully utilize the testing frameworks that I have learned over the years.
    <p>I do not mind relocating for a position or working remotely, so my current location is not a restriction</p>
    <p>If you have a position  you think I would be interested in, you can either send me a message on my <a href="{% url 'contact' %}"><b>Contact</b></a> page or reach out to me
    on one of my <b>Social</b> websites. <b><i>I will reply as promptly as possible!</i></b>.
    </div>
{% endblock %}

