<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml">
<!-- #BeginTemplate "template.dwt" -->
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<link href="personalwebpage.css" rel = "stylesheet" type = "text/css">
<!-- #BeginEditable "doctitle" -->
	<title>Chase Weyer - Portfolio and Skills</title>
<!-- #EndEditable -->
</head>
  <body>
  <div id="header">
   <h1>Chase Weyer</h1>
  </div>
  <div id="page">
    <div id="nav">
      <ul id="navlist">
	    <li><a href="index.html">Welcome</a></li>
	    <li><a href="about.html">About</a></li>
	    <li><a href="#">Professional</a>
	      <ul>
	        <li><a href="portfolio.html">Portfolio and Skills</a></li>
	        <li><a href="resume.html">Resume</a></li>
	        <li><a href="looking_for.html">Looking For...</a></li>
	      </ul>
	    </li>
	    <li><a href="#">Social</a>
	      <ul>
	        <li><a href ="https://www.linkedin.com/in/chase-weyer-4a5216a3">LinkedIn</a></li>
	        <li><a href="https://github.com/metalhero">GitHub</a></li>
	        <li><a href="mailto:chase.p.weyer@chasepweyer.com">E-Mail</a></li>
	      </ul>
	    </li>
      </ul>
    </div>
  </div>
  <p><br></p>
    <!-- #BeginEditable "maincontent" -->
	<div id = "container">
		<p>This page will breifly go over some of my recent accomplishments in the tech world as well as the technical skills 
		that I have acquired through college, my professional career, and personal experimentation.</p>
		<p>If you wish to view some of these further, you can use the links below to check out the 
		source code I have on GitHub. You can also visit my GitHub page through the <b>Social</b> link at the top of the page.</p>
	</div>
	<br>
		<h2>Portfolio</h2>
	<div id = "container">
		<h3 class="center"><strong>Collegiate Projects</strong></h3>
		<p class="center"><strong>Retro World</strong></p>
		<p>As part of my Web Development with Adobe Dreamweaver class, I developed a website for a fake (even though I would
		like it be real) retro video game company simply called Retro World. Though I built it through Adobe Dreameaver, 
		I used mostly self made icons, done in the 8-bit style, to keep the feeling very retro.
		<br>
		<br>Follow the link below to view the completed website:	
		<br><a href="course_project/index.html">Retro World Project</a>
		<p class="center"><strong>Rolodex C++ Project</strong></p>
		<p>As a final project for my C++ course, I developed a program that acts like a Rolodex where you can display all contacts, 
		add contacts, search for a specific contact, flip to the next contact, and delete contacts. I constructed this using
		the Standard Template Library.
		<br>
		<br>Followed the link below to view the source code on GitHub:
		<br><a href="https://github.com/metalhero/rolodex">Rolodex C++ Project</a>	
		<p class="center"><strong>Video Game Database Perl/Python/PHP Project</strong></p>
		<p class = "box">As a series of projects for my Survey of Perl/Python/PHP course, I created a simple database that would allow the user to
		input game information, such as game title, game type, and the release year, sort it, then save it as a text file
		to a hard drive in all three of the languages I learned in the course. Unfortunately, my PHP version is the only 
		one with web applications. I created the Perl and Python versions simply through a compiler, so they will have to
		be launched through the command line.
		<br>
		<br>Followed the links below to view the source code on GitHub:
		<br><a href="https://github.com/metalhero/video-game-database-perl">Video Game Database Perl Version</a>
		<br><a href="https://github.com/metalhero/video-game-database-python">Video Game Database Python Version</a>
		<br><a href="https://github.com/metalhero/video-game-database-php">Video Game Database PHP Version</a>
	</div>
	<br>
		<h2>Skills</h2>
	<div id = "container">
		<p class="center"><strong>Programming Languages</strong></p>
		<p>C, C++, C#, Java, PHP, Perl, Python, Ruby</p>
		<p class="center"><strong>Developer Tools</strong></p>
		<p>AWS, PHP MyAdmin, MySQL, MariaDB, RAILS, .NET, Git, Apache</p>
		<p class="center"><strong>Operating Systems</strong></p>
		<p>Windows, Linux</p>
	</div>
    <!-- #EndEditable -->
    <footer>
    <div id="bottomnav">
    <p>
      <a href="index.html">Home</a> | 
      <a href="#">About</a> | 
      <a href="portfolio.html">Portfolio and Skills</a> | 
      <a href="resume.html">Resume</a> | 
      <a href="looking_for.html">Looking For...</a> | 
      <a href="https://www.linkedin.com/in/chase-weyer-4a5216a3">LinkedIn</a> | 
      <a href="https://github.com/metalhero">GitHub</a> | 
      <a href="mailto:chase.p.weyer@chasepweyer.com">E-Mail</a> 
    </p>
    </div>
  </footer>
 </body>
<!-- #EndTemplate -->
</html>

