{% extends 'base.html' %}

{% block title %}Chase Weyer - Resume{% endblock %}
{% block header %}<h2>Resume</h2>{% endblock %}
{% block maincontent %}
    <div id = "container">
		<p>Below is my most recent professional experience that showcases my blended nature of customer support and technical skills. If you have any questions about any of my work experience, or would like to know more about my work history,
		feel free to contact me by sending me a message on my <a href="{% url 'contact' %}"><b>Contact</b></a> page.</p>
	 </div>
	 <br>
	 <div id="container">
		<h3 class="center"><strong>Snag</strong></h3>
		<p><strong>Former Employer:</strong> Employed from April 2017 to April 2018<p>
		<p><strong>Position Held:</strong> Customer Support Specialist</p>
		<p>The department I was in focused on resolving technical issues through phone, chat, and e-mail for the Snag Recruiting Platform
		Application Tracking software that ranges from providing applications, keep track of hired/separated/transferred employees, and provide electronic onboarding.
		The tehnical issues I would have to resolve on a daily basis ranged from pinpointing the cause of a feature failing to resolving errors with the the company's API's that integrated with 3rd party payroll platforms
		to informing customers of the most appropriate work flows to utilize for the systems features and settings to avoid potential errors.
		<br>
		<br>In order to fully understand customer issues with the platform, and resolve the issue in a timely manner and to make sure similar issues would not occur in the future,
		I would take the time to carefully research tehnical errors that occurred in the platform. This would include testing user workflows when certain features fail to work as intended
		to try and recreate the issue and pinpoint the possible origin and locating the specific where errors with the company's API's were originating within the platform and advising on the necessary solution
		to resolve the issue. I would also use time between customer issues to test feature workflows that I was unfamiliar by using a test environment to use various workflows for different features features to
		see if I could intentionally cause failures and researched the integration points for various client’s API’s, as well as common issues with their API integrations, to ensure that
		I could be prepared to solve potential customer issues.
		<br>
		<br>
		If I had time inbetween customer issues where there were no pressing issues to resolve, I would take that time to test feature workflows that I was unfamiliar by using a test environment to use various workflows
		for different features features to see if I could intentionally cause failures and researched the integration points for various client’s API’s, as well as common issues with their API integrations, to ensure that
		I could be prepared to solve potential customer issues.
		<br>
		<br>If there was a part of the platform or a customer issue that I was unfamilar with, and couldn't resolve through researching the issue on my own, I would consult other departments as needed such as Advanced
		Support, Egnineering, Product, Integration, and Implementation so that I could increase my knowledge of the product and understand it more fully. If I still couldn't solve the issue on my own, such as lacking the
		necessary resources to solve the problem, I would send the issue to the appropriate department so that it could be resolved.
		<br>
		<br>
		Being on the "front lines" for customer issues also gave me to opportunity to document common features that the customers would be frustrated with, or lack thereof, and suggest ideas to the Product department on how
		to potentially address these issues in a manner that would be practical to the user.
		<br>
		<br>
		I also utilized internal web tools for customer verification and also utilized JIRA, Salesforce, Okta, and Slack so that I could effectively document and
		track customer issues and communicate with other departments in a timely fashion to resolve customer issues quickly and efficiently.
		<br>
		<br>
		Though not required for the position, I expanded my technical knoweldge by taking Advanced SQL courses (which involved such tasks as multi-table inquiries and macros) and attended seminars from the Engineering team
		(ranging from machine learning to AWS deployments) to learn how to better understand the platform and potentially solve more advanced technical issues.
	 </div>
	 <br>
	 <div id="container">
		<h3 class="center"><strong>Benefitfocus</strong></h3>
		<p><strong>Former Employer:</strong> Employed from 8/2016 to 10/2016</p>
		<p><strong>Position Held:</strong> Benefits Administrator</p>
		<p>Resolved technical customer issues by phone that would arise from customers who utilized the paid benefits platform. This would include addressing simple issues such as password resets and unlocking user accounts
		to more advanced issues such as explaining how to use the proper workflows for electing medical benefits and locating the origin of failure for a particular feature. I would ensure that I could assist the customer
		as best as I possibly could by making sure that I could either provide them all of the information that they would need to make sure they
		utilized the platform correctly or make sure that I could locate the origin of failure for a particular and resolve their issue in a timely manner. If I could not resolve the issue on my own, I would reach out to the
		an individual or department that would be best able to assist me and help me understand the issue better so that I could resolve it for the customer on my own. If I could not solve the issue on my own, due to lack of
		resources, I would send it to the appropriate department so that they could resolve the issue in a timely manner.
		<br>
		<br>
		I also utilized internal web tools for customer verification and also utilized JIRA, Salesforce, Okta, and Slack so that I could effectively document and
		track customer issues and communicate with other departments in a timely fashion to resolve customer issues quickly and efficiently.
		</p>
	</div>
 {% endblock %}

