{% extends 'base.html' %}
<html>
<head>
	<title>{% block title %}Chase Weyer - Resume{% endblock %}</title>
<!-- #EndEditable -->
</head>
  <body>
     {% block maincontent %} 
     <h2>Resume</h2>
     <div id = "container">
		<p>Here are my most recent professional positions held in the past 5 years. If you have any questions about any of the positions, or would like to 
		set up an interview because my experience matches a position you have open, feel free to contact me by <a href="mailto:cpwfe87@gmail.com"><b>E-Mail</b></a>.</p>
		<h3 class="center"><strong>Snagajob</strong></h3>
		<p><strong>Current Employer:</strong> Started 4/2017<p>
		<p><strong>Position Held:</strong> Customer Support Specialist - PeopleMatter</p>
		<p>I work primarily as a Tier 1 type of customer service specialist and handle inbound phone calls, e-mails, and chats for the PeopleMatter Human Resources software. Troubleshooting will range from password resets to explaining account settings and providing walkthroughs to integration support between the our platform and the clients 3rd Party Payroll software. Not only do I utilize internal company systems, but also JIRA, Slack, Okta, Salesforce, Google Drive, Zendesk, and USCIS depending on the customers situation.
		<h3 class="center"><strong>Benefitfocus</strong></h3>
		<p><strong>Former Employer:</strong> Employed from 8/2016 to 10/2016</p>
		<p><strong>Position Held:</strong> Benefits Administrator</p>
		<p>I worked primarily as a Tier 1 type of customer service specialist and only handled inbound phone calls for a software engineering company
		that outsourced a medical benefits platform, as well as basic call center services, to customers. I would typically handle customer 
		questions such as password resets, unlocking locked accounts, providing forgotten usernames, providing medical benefits information, 
		enrolling customers in medical benefits, advise customers where to send documentation if needed, and escalate necessary issues to the
		appropriate manager/department. All of this would have to be done after caller identification. If a caller fails identification, 
		I would be unable to assist them. All calls were tracked and monitoried in InContact for quality assurance and all case notes would 
		have to be documentated in SalesForce. I also became familiar with the Octa system, as it allowed single sign-on for all of the applications 
		related to my position, as well as the ticketing system JIRA.
		<br>
		<br>The position was a temporary to hire contract through the staffing agency Aerotek and I left after two months as the position was 
		conflicting with my school work and it was not as tech based as I was hoping it was going to be. I left on good terms as my manager 
		informed me that I would be welcomed back at anytime.
		</p>
		<h3 class="center"><strong>Nordstrom Rack</strong></h3>
		<p><strong>Current Employer:</strong> Started work on 8/2015
		<br><strong>Location:</strong> Mount Pleasant, SC
		<br><strong>Starting Position:</strong> Service Experience (8/2015 to 1/2016)
		<br><strong>Current Position:</strong> Inventory and Merchandising (2/2017 - Present)
		<br><strong>Other Positions:</strong> Rover (1/2016 to 10/2016) , Salesman-Shoes (10/2016 to 2/2017)</p>
		<p class="center"><strong>Service Experience</strong></p>
		<p>I started my employment as a Service Experience representative. This was a standard, retail cashier/customer service position which 
		involved POS transactions, promoting rewards cards/debit cards/credit cards, handling customer returns, and directing incoming calls to the 
		appropriate department. Though the position was flexible, due to the restrictive nature of cashier nature of the position, I moved to the 
		Rover department.</p> 		
		<p class="center"><strong>Rover</strong></p>
		<p>As a Rover, I moved around various departments and learned their intricacies. In addition to working in Service Experience, I worked 
		in the Stock, Shoes, Accessories, and Apparel departments. I became most familiar with the Shoes and Men's Department.</p>
		<p class="center"><strong>Shoes</strong></p>
		<p>Though being a Rover offered felxability, I recently became a salesman in the Shoes department as I wanted some stability and it was 
		one of the departments I enjoyed being in. As a shoe salesman, I assist customers in shoe sales, finding certain shoes and shoe products,
		returning shoe products to the floor, and ensuring the overall cleanliness of the department.
		</p>
		<p class="center"><strong>Inventory and Merchandising</strong></p>
		<p>As of the beginning of February, our store changed it's departments from specific ones to more generic ones. Now the store is split into 
		Service Experience and Inventory and Merchandising. I got assigned to the Inventory and Merchandising team and it is very similar to the Rover 
		position that I held before. The only difference is that my focus is more on keeping the floor clean and putting product on the floor than 
		promoting and cross selling customer rewards progragms.</p>
		<h3 class="center"><strong>CBC Companies</strong></h3>
		<p><strong>Previous Employer:</strong> Employed from 7/2012 to 6/2015
		<br><strong>Location:</strong> Pittsburgh, PA
		<br><strong>Starting Position:</strong> Mortage Processor for CBC Innovis Dept (7/2012 - 8/2014)
		<br><strong>End Position:</strong> Customer Support Agent for AmRent Dept (8/2014 - 6/2015)</p>
		<p class="center"><strong>CBCInnovis</strong></p>
		<p> I started off s a Mortgage Processor in the CBCInnovis department. My main focus was to process credit checks for mortgage companies that ranged 
		from verifying a particular account is current on it's payments to verifying ownership of a particular credit account.
		<br>
		<br>As we would have to deal with very sensative customer information regarding mortgages, we had to adhere to strict security 
		guidlines as well as the FCRA. This would sometimes require performing conference calls, faxing in a written authorization,
		or verifying company documents depeding on the particular bank or mortgage lenders security preferences. I also got into
		the habit of shredding documents and locking my computer.
		<br>
		<br>We were assigned to specific queues for work, which would be made up of one or may customers depending on the size of the
		customer and the volume of work we received from them. And, due to the volume of work sometimes, we were assigned to a 
		call overflow depending on the day of the week.
		<br>
		<br>One day, after my managers lauded me on the quality of my customer service and processing work, I was assigned my
		own specific queue that delt with a big customer, named Meridian Mortgage, as well as a few smaller companies. Meridian
		had speific guidlines I had to follow, especially when closing on a deal, which meant I would sometimes have to drop the 
		other work I was doing and focus on completing their credit checks. Upon my transfer to the AmRent Department, I was
		notified by my superiors that Meridian Mortgage was very satisfied with the work I completed.
		<br>
		<br>And somehow I won the Employee of the Month award for 4/2014 for "Great Customer Service Work" or something
		along those lines.</p>
		<p class="center"><strong>AmRent Dept</strong></p>
		<p> While in the AmRent Deptment, my main focus was to Troubleshoot customer technical issues, by phone and e-mail, ranging from 
		issues with various internet browsers (Internet Explorer, Google Chrome, Mozzilla Firefox, etc.) to issues concerning the companies 
		web based portal such as correcting or adding an IP Address to ensuring the settings on a customer's web based account are set up, and 
		running, correctly.
		<br> 
		<br>Besides that, I processed customer requests for rental verifications, employment verifications, and background checks for rental 
		applicants as well as business credit reports for business applicants through phone calls as well as e-mail through 
		Microsoft Outlook, which I would have to often multitask with troubleshooting customer's technical issues depending
		on the workload for that day. Thankfully, I can perform data entry at 73 wpm thorough our web based application, so it
		wasn't too much of a hassle. And we had Microsoft Excel pages for certain necessary information which I would help
		maintain, so it made multiasking a little bit easier.
		<br>I did such a good job with my customer service and processing that I would get compliments from
		my manager when going over call reviews and production Q&A.</p>
      </div>
 {% endblock %}
 </body>
</html>

