{% extends 'base.html' %}
{% block title %}Chase Weyer - Contact{% endblock%}
{% block header %}<h2>Contact</h2>{% endblock %}
  {% block maincontent %}
  <div id="container">
  <h3>Your e-mail was successfully sent!</h3>
  <p>I appreciate your e-mail and I will do my best to read over it and respond if needed. I will do my best to ensure a quick response, but keep in mind it may take me up to 24 hours to respond by e-mail due to my workload for the day. I also want to make sure that your e-mail gets the attention it deservers, so please be patient and, rest assurend, I will respond!</p>
  </div>
  {% endblock %}

