{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Contact{% endblock%}
{% block header %}<h2>Contact</h2>{% endblock %}
{% block maincontent %}
	<div id="container">
    <p>If you have checked out my site and have any additional questions about my resume or career goals, know of a potential position that I would be intertested in, have any 
    recommendations on how to improve my career site or personal project, have any recommendations on technologies I should be using that I haven't tried yet, or 
    would like to network or know of any networking opportunities that I might be interested in, feel free to fill out this contact form which will go directly to my professional e-mail. 
    Once submitted, I will take a look over it and respond as quickly as I possibly can. I look forward to hearing from you all on how to move my profession forward!
    </p>
  </div>
  <br>
  <div id="container">
	  <form role="form" action="" method="post" novalidate>
			{% csrf_token %}
			{% if form.non_field_errors %}
			<div class="alert alert-danger" role="alert">
				{% for error in form.non_field_errors %}
					{{ error }}
				{% endfor %}
			</div>
		{% endif %}

	    {% for field in form.visible_fields %}
      <div class="form-group">
			{{ field.label_tag }}

      {% if form.is_bound %}
        {% if field.errors %}
          {% render_field field class="form-control is-invalid" %}
          {% for error in field.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
        {% else %}
          {% render_field field class="form-control is-valid" %}
        {% endif %}
      {% else %}
        {% render_field field class="form-control" %}
      {% endif %}

      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
      </div>
	{% endfor %}
	<button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
{% endblock %}


