@import "compass/css3";

html {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 75px;
}

#body {
  padding:10px;
  overflow: hidden;
}

#header {
    text-align:center;
    background-color: #2A4550;
    color: white;
    border: 1px solid;
    border-radius: 4px;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#container {
    background-color: #F0F8FF;
    padding: 24px;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    border: 1px solid #d1d3d5;
    text-align: left;
    border-radius: 4px;
    overflow: visible;
}

#page {
	padding-top: 50px;
}

.center {
    text-align:center;
}

#picture {
    float: right;
    border-style: solid;
    border-width: 2px;
    margin: 5px 5px 15px 15px;
}

#footer {
    position: absolute;
    text-align:center;
    background-color: #2A4550;
    color: white;
    border: 1px solid;
    border-radius: 4px;
    width: 100%;
    bottom: 0;
    padding-top: 25px;
    height: 75px;
    line-height: 25px;
}
